header {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  background-color: #222;
  z-index: 100;
  width: 100%;
}

header h1 {
  margin: 0;
  font-size: 20px;
}

.layout {
  display: flex;
}

main {
  flex: 1;
  padding: 20px;
}